

.nav-link{
    color: white;
}

.nav-item{
      list-style-type: none;
      margin-left: 100px;
}

 #background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1; 
}

.content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2em;
      z-index: 1;
      text-align: center;
}
.main_heading{
    color: rgb(193, 109, 13);
    font-family: "Open sans";
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    }

.text-content{
    height: 50vh;

}

.order{
    margin-left: 30px;
    border-radius: 50%;
}


.second_page_heading{
    margin-left: 30px;
    margin-top: 60px;

}

.menu_container{
    height: 100%;
    width: 100%;
}


.Buy_cards{
    margin-top: 20px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 30px;

}

.feature-page-main-container{
    height: 100vh;
}

.checkout-page-main-contain{
    height: 100vh;
    background-color: #e1c2a3;
}



.checkout-container {
   width: 60%;
   margin: 40px auto;
   background: #fff;
   padding: 32px 24px 24px 24px;
   border-radius: 12px;
   box-shadow: 0 4px 28px 0 rgba(75,46,25,0.12);
}
h2 {
   color: #7F5539;
   margin-bottom: 18px;
   text-align: center;
}
.order-summary {
   background: #F5E0C1;
   padding: 14px 18px;
   border-radius: 8px;
   margin-bottom: 22px  
}
.order-summary p {
   margin: 8px 0;
}
label {
   display: block;
   margin-top: 16px;
   margin-bottom: 8px;
   font-size: 16px;
   color: #67472D;
}
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
   border: 1px solid #D2B48C;
  border-radius: 6px;
  font-size: 16px;
  background: #FFF8F3;
  color: #40220F;
        }
.checkout_btn {
  width: 100%;
  padding: 12px;
  background: #7F5539;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 14px;
  cursor: pointer;
  transition: 0.2s;
}
.cart_btn{
    margin-top: 10px;
}

.correct_img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.order-placed-page {
    height: 100vh;
}

.order-page-content{
    height: 100%;
    position: relative;
    top: 20%;
}

.correct_img{
    border: none;
    background-color: white;
    
}
